.mainUserProfile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: hidden;
  min-height: 43.4vw;
}

.verticalLine {
  display: none;
  margin: 10px 10px;
  border-right: 1px solid #4958677a;
  border-radius: 50%;
  height: 40vw;
  box-shadow: 1px 1px 1px 1px #5e585820;
}

.mainInfo {
  width: 100%;
}

.nameAndImage {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.secInfo {
  width: 66%;
  padding: 50px 3px;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 10px;
}

.userImage {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px 3px #5e585820;
}

.icon {
  width: 20px;
  height: 23px;
  margin: 0;
  padding: 0;
  margin-right: 2px;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  // margin-left: 30%;
  gap: 5px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}

.oneInfo {
  margin: 7px 1px;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #495867;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 20vw;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-bottom: 40vw;
  animation: rotation 1s linear infinite;
}

@media (min-width: 768px) {
  .mainUserProfile {
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
  }

  .verticalLine {
    display: block;
  }

  .nameAndImage{
    font-size: 20px;
    }

    .secInfo{
      font-size: 12px;
    }

    .mainInfo {
      width: 34%;
    }

    .userImage{
      height: 200px;
      width: 200px;
    }
}

@media (min-width: 1024px) {
  .mainUserProfile {
    justify-content: flex-start;
    flex-direction: row;
  }

  .verticalLine {
    display: block;
  }

  .nameAndImage{
  font-size: 30px;
  }

  .secInfo{
    font-size: 17px;
  }
}


