// .container {
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   min-width: 100%;
//   min-height: 100vw;
// }

.search-icon {
  cursor: pointer;
}



.main {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.appuser {
  display: block;
  width: 80%;
  margin: 20px auto;
  cursor: pointer;
}

.loader {
  width: 70px;
  height: 70px;
  border: 5px solid #495867;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 40vw;
  margin-left: 40vw;
  margin-right: 20vw;
  margin-bottom: 20vw;
}

.search-bar {
  display: block;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .appuser {
    width: 45%;
  }

  .loader {
    width: 100px;
    height: 100px;
    margin-top: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-bottom: 40vw;
  }

  .search-bar-container {
    display: flex;
    // flex-direction: column;
    margin: 0 30%;
  }

  .container{
    width: 74vw;
  }
}
