<div class="container">
  <div class="search-bar-container">
    <input
      type="text"
      class="search-bar"
      id="searchUser"
      name="searchUser"
      #userSearch
    />
    <mat-icon (click)="onSearchUser()" class="search-icon">search</mat-icon>
  </div>
  <div class="main" *ngIf="usersList$ | async as users; else loading">
    <div *ngFor="let user of users" class="appuser">
      <app-user
        [user]="user"
        [routerLink]="'/userslist/userprofile/' + user.id"
      ></app-user>
    </div>
  </div>
  <ng-template #loading>
    <span class="loader"></span>
  </ng-template>
</div>
