.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  min-height: 100%;
  box-shadow: 1px 2px 3px 3px #5e585820;
  padding: 5px;
}

.userCard:hover {
  background-color: #7c98a9;
  transition: 300ms;
}

.userCard:active {
  box-shadow: inset 1px -1px 13px 3px rgb(94 88 88 / 51%);
  transition: 200ms;
}

.userImage {
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px 3px #5e585820;
}

.userMainInfo {
  margin: auto;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.userSecInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  // margin-left: 30%;
  gap: 5px;
}

.icon {
  width: 20px;
  height: 23px;
  margin: 0;
  padding: 0;
  margin-right: 2px;
}
