<div [ngClass]="{'darkMode' : !lightThemed}">
  <app-sidebar></app-sidebar>
  <div
  class="themeChoiceContainer"
    style="
      margin-left: 20%;
      width: 80%;
      margin: 0;
      display: block;
      min-height: 100%;
      margin-left: 20%;
      background-color: white;
    "
  >
  
  <span class="themeChoice">
    <img src="../assets/sun.png" class="themeIcon">
    <label class="switch">
      <input type="checkbox" [checked]="!lightThemed" (change)="lightThemed = !lightThemed">
      <span class="slider round"></span>
    </label> 
    <img src="../assets/moon.png" class="themeIcon">
  </span>

    <router-outlet></router-outlet>
  </div>
  
</div>
