<div [ngClass]="{ darkMode: !lightThemed }" class="root-container">
  <div class="nav-bar">
    <button
      class="show-side-bar"
      (click)="showSideBar = !showSideBar"
      [ngClass]="{ darkMode: !lightThemed }"
    >
      <span class="button-icon material-icons">menu</span>
    </button>
    <span class="themeChoice">
      <img src="assets/sun.png" class="themeIcon" />
      <label class="switch">
        <input
          type="checkbox"
          [checked]="!lightThemed"
          (change)="lightThemed = !lightThemed"
        />
        <span class="slider round"></span>
      </label>
      <img src="assets/moon.png" class="themeIcon" />
    </span>
  </div>
  <div class="sidebar-and-content">
    <app-sidebar class="sidebar" [class.visible]="showSideBar"></app-sidebar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
