.sidebar {
  position: fixed;
  overflow-x: hidden;
  width: 20%;
  height: 100vw;
  background-color: #E6E6E6;
  // border-right: 1px solid #26363E;
  margin: 0;
  box-shadow: 1px 2px 3px 2px #5e585820;
}

.links {
  padding-left: 20px;
  margin: 25px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 25px;
}

.anchorLink {
  color: #12191D;
  // text-underline-offset: 1;
  text-decoration: none;
}

a:hover {
  color: #7c98a9;
  transition: 200ms;
}
