.sidebar {
    position: fixed;
    overflow-x: hidden;
    width: 20%;
    height: 100vw;
    background-color: #26363E;
    margin: 0;
    box-shadow: 5px 1px 6px 2px rgb(94 88 88 / 29%);
}

  .links {
    // padding: 20px;
    margin: 25px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
  }
  
  a {
    color: white;
    // text-underline-offset: 1;
    text-decoration: none;
  }
  
  a:hover {
    color: #7C98A9;
    transition: 200ms;
  }