/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.darkMode .themeChoiceContainer {
  color: white !important;
  background-color: #1c262d !important;
}

.darkMode .show-side-bar{
  background-color: #1c262d !important;
}



.darkMode .nav-bar{
  color: grey;
  background-color: #1c262d !important;
}

.darkMode .anchorLink {
  color: white !important;
}

.darkMode .anchorLink:hover{
  color: #fff23a93 !important;
}

.darkMode .userImageContainer {
  background-color: #26363e !important;
}

.darkMode .userImageContainer:hover {
  border: 1px solid #fff23a93 !important;
  box-shadow: inset 0px 0px 4px 2px #fff23a93,
    1px 2px 4px 1px rgb(12 11 1 / 58%) !important;
}

body.darkMode {
  background-color: #1c262d !important;
}

.darkMode .main {
  background-color: #1c262d !important;
}

.darkMode .verticalLine {
  box-shadow: 1px 1px 2px 2px #00000020 !important;
}

.darkMode .loader {
  border: 5px solid white !important;
  border-bottom-color: transparent !important;
  border-radius: 50% !important;
  display: inline-block !important;
  box-sizing: border-box !important;
  animation: rotation 1s linear infinite !important;
}

.darkMode .sidebar {
  background-color: #26363e !important;
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .my-card {
  background-color: #3e515e52 !important;
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .userCard {
  background-color: #3e515e52 !important;
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .userCard:hover {
  background-color: #12191d !important;
  transition: 200ms;
}

.darkMode .tagPill {
  background-color: #1c262d79 !important;
  box-shadow: 1px 1px 2px 3px #00000020 !important;
}

.darkMode .tagPill:hover {
  background-color: #12191d !important;
}

.darkMode .username:hover {
  color: #fff23a93 !important;
  transition: 200ms !important;
}

.darkMode .reactions {
  background-color: #1c262d79 !important;
  box-shadow: 1px 1px 2px 3px #00000020 !important;
}

.darkMode .showComments {
  background-color: #12191d !important;
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .showComments:active {
  background-color: #12191d !important;
  box-shadow: inset 1px 3px 4px 2px rgb(0 0 0 / 51%) !important;
}

.darkMode .userImage {
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .commenterImage {
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .theButton {
  background-color: #12191d !important;
  box-shadow: 1px 2px 3px 3px #00000020 !important;
}

.darkMode .theButton:active {
  background-color: #12191d !important;
  box-shadow: inset 1px 3px 4px 2px rgb(0 0 0 / 51%) !important;
}

.darkMode{
  color: white !important;
}